html, body {
    padding: 0;
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Mukta', sans-serif;
}
.hidden {
    display: none;
}

.error {
    display: none;
}
html::-webkit-scrollbar { display: none; }
h2, h1, h4, p, h3{
    margin: 15px 0;
    /* margin-bottom: 15px;
    margin-top: 15px; */
    color: white;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}

h3 {
    margin: 0;
}
h4 {
    margin: 15px 0;
}

a{text-decoration: none; color: inherit;}
a > span { margin: auto;}
h2 {font-size: 25px; line-height: 25px;}
h2 {font-weight: 700;}
p, a, .c{font-size: 14px;font-weight: normal;}
h1, h4 {font-weight: 600;}
h1 {font-size: 17px;}
h3 {font-size: 47px;font-weight: 300;}
h4 {font-size: 27px;}
img{width: 100%;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;font-weight: 600;
    text-transform: uppercase;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li {float: left;}
  li a:hover {
    transition: 0.3s;
  }

.cf-holder-child > input[type="text"]:valid,
.cf-holder-child > input[type="email"]:valid,
.cf-holder-child > input[type="number"]:valid,
.cf-holder-child > textarea[type="text"]:valid {
    color: #5f8f1f;
    transition: 0.3s;
}
.pmc-red {
    background: #d53130;
}
.pmc-cred {
    color: #d53130;
}
.pmc-blue {
    background: #00276c;
}
.pmc-cblue {
    color: #00276c;
}
.pmc-cyan {
    background: #1cbac6;
}

.pmc-green {
    background: #5f8f1f;
}
.pmc-cgreen {
    color: #5f8f1f;
}
.pmc-white {
    background: #fff;
}

.pmc-black {
    background: #161616;
}
.pmc-cblack {
    color: #333333;
}
.pmc-cwhite {
    color: #fff;
}

.pmc-gray {
    background: #3c3c3c;
}
.pmc-cgray {
    color: #cfccce;
}
.bold {
    font-weight: bold;
}
.full-width {
    width: 100% !important;
}

.pmc-gradient {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
}
.pmc-gradient > * {
    color: #161616;
}
.b-gray {
    background: #f2f2f2 !important;
    margin: 0 !important;
    padding: 15px 0 15px 0 !important;
}
.branches {
    background: #fff;
}
.branches > p:first-child {
    text-transform: uppercase;
    font-weight: 800;
    background: #00276c;
    color: white;
    padding: 5px 30px;
    margin-left: -30px;
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s;}
    .branches > p:first-child:hover {
        cursor: default;
        transition: 0.5s;
        background: #659227;
    }
footer {
    display: flex;
    align-items: center;
}
footer::after {
    content: '';
    display: table;
    clear: both;
}
.footer-meta-tag {
    margin: 5px;
    color: #ccc;
}
.footer-meta > div > p {
    text-transform: uppercase;
}
.rows, .rows-sm {
    background: #fff;
    padding: 0;
    margin: 70px 0 120px 0;
    width: 100%;
}
.rows-sm { margin: 15px 0 15px 0; }
.global-container {
    margin: auto;
    /* width: 70%; */
    width: 65%;
}

.footer-wrapper {width: 70%; margin: auto;}

.global-three-col, .footer-wrapper, .global-four-col {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
    }
    .global-three-col > * {
        flex-basis: 30%;}
        .global-three-col > *:nth-child(odd) {
            margin: 0 auto; }
        
    .footer-wrapper > * {
        flex-basis: 30%;}
        .footer-wrapper > *:nth-child(odd) {
            margin: 0 auto; }
    .global-four-col > * {
        flex-basis: 25%;}
.global-two-col {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
    }
    .global-two-col > * {
       flex-basis: 48%; }
       .global-two-col > *:nth-child(odd) {
        margin-right: 4%;
}
    .global-two-col > .two-sp {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        flex-basis: 50%;
        margin-right: 0;
        margin-bottom: 0 !important;
        padding: 50px;
        height: 280px;
    }


.global-four-cols {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    padding: 5vh 0px;
}

.global-three-cols {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.global-two-cols {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}
.global-un-gap {
    grid-column-gap: 0px;

}
.no-margin {
    margin: 0;
}
.margin-auto {
    width: 80%;
    margin: auto;
}
.margin-bottom-more {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 10px;
}
.margin-right {
    margin-right: 10px;
}
.global-three-col > div > img {
    width: 100%;
}

.underline {
    height: 2px;
    width: 40px;
}
.icn-center {
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
}

.icn-center > * {
    font-size: 20px;
    position: relative;
    display: block;
    margin: auto;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.fullscreen {
    height: 100vh;
    width: 100%;
}
.halfscreen {
    height: 70vh;
    width: 100%;
}

.flex {
    display: flex;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-l {
    float: left;
}
.float-r {
    float: right;
}

.button {
    background: transparent;
    border: none;
    outline: 0;   
}
.flat-button {
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    outline: 0;
    border: none;
}
.flex {
    position: relative;
    display: flex;
    align-items: center;
}
.form-division {
    display: block;
    width: 95% !important;
    margin: 0 auto;
}
.newsletter {
    display: block;
    color: #727071;
    width: 80%;
    border: 1px solid #727071;
    padding: 7px 15px;
    outline: 0;
    border-radius: 4px;
    margin-bottom: 15px;
}

.submit { 
    display: block; 
    border: none;
    outline: 0;
    color: #fff;
    transition: 0.3s;
}

.submit:hover {
    transition: 0.3s;
    content: "test";
    padding-right: 25px; 
}

.bread-crumbs {
    position: relative;
    display: flex;    
    align-items: center;
}
.bread-crumbs > * {
    margin-right: 8px;
}

.come-in {
    opacity: 0;
    transform: translateY(150px);
    animation: come-in 1.5s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1.0s; /* So they look staggered */
  }
  
  @keyframes come-in {
    to { 
        transform: translateY(0px); opacity: 1; }
  }
.indent {
    text-align: justify;
    text-indent: 45px;
}

.carousel .carousel-item {
    opacity: 1 !important;
}


@media screen and (max-width: 769px) {
    .global-two-col,
    .final-last-two-col{
        grid-template-columns: 1fr;
        grid-gap: 5vh ;
    }
    .global-three-col, .global-two-col, .footer-wrapper, .global-four-col {
        display: block;
    }
    .global-three-col > *, .global-three-col > *:nth-child(odd),
    .global-two-col > *, .global-two-col > *:nth-child(odd),
    .footer-wrapper > *, .footer-wrapper > *:nth-child(odd) {
        width: 100%;
        margin-bottom: 15px;
    }
    
    .global-four-col > * {
        width: 50%;
        margin-bottom: 5vh;}
        .global-four-col > *:nth-child(odd) {
            float: left;
        }
        .global-four-col > *:nth-child(even) {
            float: right;
        }
        .global-four-col::after {
            display: table;
            content: "";
            clear: both;
        }
    
        .pre-pad {
            margin-left: 0;
        }
    
    
    
    /* .global-four-col {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5vh ;
    }  */
    .global-un-gap {
        grid-gap: 0vh;
    }
    .banner {
        height: 100vh;
    }
    
    .title-desc {
        font-size: 12px;    
    }
    .banner-content-container {
        position: absolute;
        top: 50%;
        left: 15%;
        width: 40%;
        font-size: 20px;
    }
    .banner-content-container-child {
        top: 50%;
        width: 70%;
    }
    .second-row {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
    }
    
    .second-row > div:first-child {
        display: none;
    }
    .second-row-left, .second-row-right {
        padding: 15%;
    }
    
    .fourth-row-content-container {
        background: #00276c;
        padding: 20px;
    }
    
    .footer-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 5vh;
    }
    .slider-container {
        height: auto;
    }
    
    #counter {
        font-size: 20px;
    }
    .counter-grid {
        margin: 0px;
        grid-template-columns: 1fr;
    }
    
    .padded {
        padding: 25px 0px 0px 0px;
    }
    .web-menu {
        display: none;
    }
    .mobile-menu-bars, .mobile-menu {
        display: block;
    }
    
    .product-grid {
        grid-template-columns: 1fr;
    }
    
    .product-grid > div:last-child {
        display: none;
    }
    .bread-crumbs-mob {
        display: none;
    }
    .banner-cnt {
        height: 70vh;
    }
    
    .contact-container {
        width: 70%;
    }
    div.global-container.contact-maps {
        width: 100%;
    }
    .cf-holder {
        margin: auto;
        width: 95%;
    }
    .cf-holder-child > * {
        width: 90%;
    }
    .come-in {
        opacity: 1;
      }
      .come-in:nth-child(odd) {
          
        opacity: 1;
      }
      
      @keyframes come-in {
        to { 
            transform: translateY(0px); opacity: 1; }
      }

}