* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.navbar-container {
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}
.navbar-spacer {
    position: relative;
    display: block;
    width: 100%;
}
.menus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 70%;
    margin: auto;
}

.menu-holder {
    width: 100%;
}
.logo {
    width: 90%;
}
.logo-foo {
    display: flex;
    align-self: center;
    position: relative;
    height: 40px;
    padding: 5px 0px 5px 0px;
}
.logo-foo-child {
    width: 40%;
}

.spacer {
    width: 100%;
    height: 60px;
}
.banner {
    display: block;
    position: relative;
    width: 100%;
    background: 
    url("../assets/main.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    /* background-image: url("../assets/main.jpg"); */
    background-size: cover;
    height: 60vh;
}
.banner-abt {
    display: block;
    position: relative;
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../assets/building.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pre-pad {
    padding: 0 25px;
}
.un-pad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.banner-cnt {
    
    width: 100%;
    background:
    
    url("../assets/contact.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    background-size: cover;
    height: 60vh;
}
.banner-prd {
    width: 100%;
    background: #fff;
    background-size: cover;
    height: 100vh;
}
.banner-content-container {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 40%;
    font-size: 30px;
    transform: translateY(-50%);
}

.contact-us-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    width: 40%;
    font-size: 30px;
}
.banner-content-container-child {
    width: 45%;
}
.second-rows {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 25% 60%;
}
.second-row {
    display: flex;
    flex-wrap: wrap;}
    .second-row > * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    .second-row > *:nth-of-type(1) {
        flex-basis: 17%;
    }
    .second-row > *:nth-of-type(2) {
        flex-basis: 25%;
    }
    .second-row > *:nth-of-type(3) {
        flex-basis: 58%;
    }
    .second-row-left {
        padding: 20px;
    }

    

/* .second-row-left {
    padding: 25px 15px 15% 0px;   
} */

.second-row-right {
    display: flex;
    align-items: center;
    background: 
    url("../assets/what.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}/* 
#counter {
    margin: 15px 15px 15px 0px;
} */
.counter-grid {
    padding-left: 25px !important;
    width: 70%;
}

.margin-bottom-lg {margin-bottom: 80px;}

.padded {padding: 25px 0px 0px 25px;}
.margin-bottom {margin-bottom: 15px;}
.third-row-content-container > div {
    display: grid;
    width: 100%;
    grid-template-columns: 15% 85%;
    grid-column-gap: 15px;
}

.third-row-content-container > div > div:first-child {
    transition: 0.5s;
    background: #dddddd;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
}
.third-row-content-container > * { margin: 0; }
.third-row-content-container > *:nth-child(even) { margin: 0 auto; margin-bottom: 100px}
.third-row-content-container > * { margin-bottom: 50px;}

.third-row-content-container > div > div:first-child:hover {
    transition: 0.5s;
    background: #5f8f1f;
    color: #dddddd;
}
.fourth-row-content-container{
    background: linear-gradient(90deg, #00276c 50%, #5f8f1f 50%);
}
.fourth-row-wrapper {
    padding: 20px;
}
.fourth-two-col {
    display: grid;
    grid-template-columns: 7fr 3fr;
}
.fourth_row_parent {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 55px;
    color: white;
    text-align: center;
}
.fourth-row-child{
    margin: auto;
}
.fourth-two-col-b {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(../assets/load.gif) center no-repeat #fff;
}

.blue-btn {
    transition: 0.3s;
    background: rgb(95, 143, 31);
    border: 1px solid rgb(95, 143, 31);
    color: white;
    padding: 8px 20px;
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.blue-btn:hover {
    padding-left: 30px;
}

.blue {
    background: #00276c !important;
}

.final-last-two-col {
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.final-last-two-col > div:first-child() {
    width: 100%;
}

.bged {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.bgs {
    background: 
    url("../assets/bg.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.clear::after {
    content: '';
    display: table;
    clear: both;
}

.final-last-col-last-child {
    display: block;
    position: relative;
    width: 60%;
    margin: auto;
}
.final-last-col-last-child > div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.sun{width: 60%; color: #111;}
.footer { background: #2d2d2d; padding: 45px 0px;}
.mini-two-div { display: grid; grid-template-columns: 1fr 2fr; grid-gap: 15px; width: 100%; margin-top: 15px;}
.tags {display: inline-block;}
.tags > div > p {
    transition: 0.3s;
    text-align: center;
    border: 1px solid #727071;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    background: transparent;
    color: #727071;
}
.tags-white > div > p {
    color: white;
    border: 1px solid #dddddd;
}
.tags-holder {
    margin-top: 15px;
}
.tags > div > p:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
}
.footer-meta {
    padding: 5px;
    background: #3c3c3c;
}


.to-top {
    position: fixed;
    display: none;
    bottom: 5px;
    right: 5px;
    border: none;
    outline: 0;
    padding: 10px;
    color: white;   
}

.mobile-menu-bars {
    display: none;
    text-align: center;
    float: right;
    padding: 15px;
    right: 0px;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    top: -100vh;
}
.mobile-menu-wrapper {
    margin: auto;
    background: rgb(255, 255, 255);
    z-index: 4;
    padding-right: 50px;
    border-bottom: 1px solid #00276c;
    width: 100%;
}

.mobile-ul {
    padding: 15px;
    width: 80%;
}
.mobile-ul > li {
    margin: 1px;
    width: 100%;
    display: flex;
    padding-left: 25px;
}

.mobile-close {
    width: 50px;
    margin: auto;
    position: absolute;
    top: 15px;
    right: 0px;
    text-align: center;
}
.normalized-text {
    text-transform: none;
}
.web-menu {
    position: relative;
    padding: 0px;
}

.title-desc {
    font-size: 17px;    
}
.web-a, .web-b {
    font-size: 11px;
    color: #727071;
    font-weight: 600;
    margin-right: 5px;
    padding: 15px;
    padding-top: 16px;
}
.web-b {
    padding: 5px;
    font-size: 10px;
}
.web-b::after{
    background: #5f8f1f;
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    transition: width .3s;
}
.web-b:hover::after{
    width: 30%;
    margin-top: 5px;
    background: #5f8f1f;
    transition: 0.3s;
}
.current-page::after {
    background: #5f8f1f;
    content: '';
    display: block;
    width: 30%;
    margin-top: 5px;
    background: #5f8f1f;
    transition: 0.3s;
}
.web-a-btn, .web-a-btn-flat {
    transition: 0.5s;
    background: rgb(95, 143, 31);
    border: 1px solid rgb(95, 143, 31);
    color: white;
    padding: 5px 15px;
    margin-top: 10px;}
    .web-a-btn:hover, .web-a-btn-flat:hover {
        opacity: 0.8;
    }

.web-a-btn-flat {
    background: transparent;
    color: #727071;
}


.far, .fa, .fas, .fab{
    transition: 0.3s;
}

.far:hover, .fa:hover, .fas:hover, .fab:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}
.branches {
    padding: 20px;
    color: #dddddd;
    border: 1px solid white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.b-right {
    position: relative;
    float: right;
    right: -40px;
    top: 115px;
    transform: scale(2.0);
}
.b-left {
    position: relative;
    float: left;
    left: -40px;
    top: 115px;
    transform: scale(2.0);
    
}

.slider-container {
    position: relative;
    width: 100%;
    height: 40vh;
}
.slider{
    display: block;
}
@keyframes dissolve {
    0% {
        opacity: 0;
    
    }
    100% {
        opacity: 1;
    }
}


.product-grid-container {
    
    margin: auto;
    width: 90%;
}

.product-grid {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 7fr 3fr;
    grid-gap: 15px;
    top: 20vh;
}

.product-grid-odd{
    height: 65vh;
    width: 100%;
}
.product-grid-odd-child {
    position: absolute;
    bottom: 15%;
    left: 5%;
}
.product-grid-even{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    height: 65vh;
    width: 100%;
}

.product-grid-even > * {
    position: relative;
    background: #111;
}


.circle {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
}
.circle-s {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
}
.circle > *, .circle-s > * {
    margin: auto;
}

.contact-container {
    position: relative;
    width: 50%;
    margin: auto;
}
.contact-us-circle-container {
    text-align: center;
    z-index: 2;
}
.contact-us-h1 {
    margin: 5px;
    text-transform: none;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
}
.contact-input {
    width: 80%;
    border: 1px solid #727071;
    padding: 7px 15px;
    outline: 0;
    border-radius: 4px;
    margin-bottom: 15px;
}
.contact-submit {
    border: 1px solid #5f8f1f;
    color: #fff;
    padding: 7px 15px;
    outline: 0;
    border-radius: 4px;
    margin-bottom: 15px;


}
.textarea {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    height: 100px;
    border: 1px solid #727071;
    padding: 7px 15px;
    outline: 0;
    border-radius: 4px;
    margin-bottom: 15px;
    resize: none;
}
.dotted {
    position: relative;
    width: 80%;
    border-top: 2px dotted black;
    top: -100px;
    margin: auto;
}
@media only screen and (min-width: 1800px) { 
    .dotted {
        display: none;
    }
}

@media only screen and (max-width: 1284px) { 
    
    .menus {
        width: 75%;
    }

}
@media only screen and (max-width: 960px) { 
    .dotted {
        display: none;
    }
    .menus {
        width: 85%;
    }

}

.footer > div.footer-wrapper > div > div > p, 
.footer > div.footer-wrapper > div > div > div > p,
.footer > div.footer-wrapper > div > p,
footer.footer-meta > div > p,
footer.footer-meta > div > div > div > p {
    font-size: 14px;
}

.map-frame {
    outline: 0;
    border: none;
    width: 100%;
    margin: auto !important; 
    height: 300px; 
}

.web-c{
    font-size: 12px;
    color: #cfccce;
}
.web-c::after{
    background: #5f8f1f;
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    transition: width .3s;
}
.web-c:hover::after{
    width: 30%;
    margin-top: 5px;
    background: #5f8f1f;
    transition: 0.3s;
}
.thankyou-wrapper {    
    position: relative;
    top: 60vh;
    transform: translateY(-30vh);
}

.blbl {
    background: 
    url("../assets/tmsbanner.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blbl-b {
    background: 
    url("../assets/homeblur.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.blbl, .blbl-b {
    max-width: 700px;
}
    .crw-pg {
        display: block;
        position: relative;
        padding: 50px 0;
        height: 100%;

    }
    .wrp-w {
        width: 100%;
        max-width: 600px;
        background: white;
        background: rgba(255, 255, 255, 0.97);
        padding: 25px 40px;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
.blbl::after {
    display: table;
    content: '';
    clear: both;
}