.pre-pad {
    margin-left: 0;
}
.global-two-col,
.final-last-two-col{
    grid-template-columns: 1fr;
    grid-gap: 5vh ;
}
.final-last-two-col > *:nth-child(1) {
    display: none;
}
.global-three-col, .global-two-col, .footer-wrapper, .global-four-col {
    display: block;
}
.global-three-col > *, .global-three-col > *:nth-child(odd),
.global-two-col > *, .global-two-col > *:nth-child(odd),
.footer-wrapper > *, .footer-wrapper > *:nth-child(odd) {
    width: 100%;
    margin-bottom: 50px;
}

.global-four-col > * {
    width: 50%;
    margin-bottom: 5vh;}
    .global-four-col > *:nth-child(odd) {
        float: left;
    }
    .global-four-col > *:nth-child(even) {
        float: right;
    }
    .global-four-col::after {
        display: table;
        content: "";
        clear: both;
    }



.banner {
    display: block;
    position: relative;
    width: 100%;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../assets/main.jpg") no-repeat 25% center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
}
.banner-abt {
    display: block;
    position: relative;
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../assets/building.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-cnt {
    
    width: 100%;
    background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../assets/contact.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 50vh;
}
/* .global-four-col {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh ;
}  */
.global-un-gap {
    grid-gap: 0vh;
}
.banner {
    height: 70vh;
}

.title-desc {
    font-size: 12px;    
}
.banner-content-container {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 40%;
    font-size: 20px;
}
.banner-content-container-child {
    top: 50%;
    width: 70%;
}
.second-row {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

.second-row > div:first-child {
    display: none;
}
.second-row-left, .second-row-right {
    padding: 15%;
}

.fourth-row-content-container {
    background: #00276c;
    padding: 20px;
}

.footer-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 5vh;
}
.slider-container {
    height: auto;
}

#counter {
    font-size: 20px;
}
.counter-grid {
    margin: 0px;
    grid-template-columns: 1fr;
}

.padded {
    padding: 25px 0px 0px 0px;
}
.web-menu {
    display: none;
}
.mobile-menu-bars, .mobile-menu {
    display: block;
}

.product-grid {
    grid-template-columns: 1fr;
}

.product-grid > div:last-child {
    display: none;
}
.bread-crumbs-mob {
    display: none;
}
.banner-cnt {
    height: 70vh;
}

.contact-container {
    width: 70%;
}
div.global-container.contact-maps {
    width: 100%;
}
.cf-holder {
    margin: auto;
    width: 95%;
}
.cf-holder-child > * {
    width: 90%;
}
.come-in {
    opacity: 1;
  }
  .come-in:nth-child(odd) {
      
    opacity: 1;
  }
  
  @keyframes come-in {
    to { 
        transform: translateY(0px); opacity: 1; }
  }

.menus {
    width: 85%;
}
h2 {
    font-size: 20px;
}
.pre-pad {
    width: 100%;
}